<div class="max-w-4xl mx-auto mt-10 p-6 bg-white shadow-lg rounded-lg">
    <h2 class="text-2xl font-semibold mb-6 text-center text-gray-700">Minhas Solicitações</h2>

    <table class="min-w-full bg-white">
        <thead>
            <tr>
                <th class="py-2 px-4 text-left text-sm font-semibold text-gray-600">Data/Hora</th>
                <th class="py-2 px-4 text-left text-sm font-semibold text-gray-600">Descrição</th>
                <th class="py-2 px-4 text-left text-sm font-semibold text-gray-600">Estado</th>
                <th class="py-2 px-4 text-center text-sm font-semibold text-gray-600">Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let solicitacao of solicitacoes" class="border-t">
                <td class="py-2 px-4 text-sm">{{ solicitacao.dataHora | date: 'short' }}</td>
                <td class="py-2 px-4 text-sm">{{ solicitacao.descricaoEquipamento | slice:0:30 }}</td>
                <td class="py-2 px-4 text-sm">{{ solicitacao.estado }}</td>
                <td class="py-2 px-4 text-sm text-center space-x-2">
                    <button (click)="visualizarSolicitacao(solicitacao)"
                        class="bg-gray-500 text-white py-1 px-3 rounded hover:bg-gray-600">
                        Visualizar
                    </button>

                    <ng-container [ngSwitch]="solicitacao.estado">
                        <button *ngSwitchCase="'ORÇADA'" (click)="abrirModalSolicitacao(solicitacao)"
                            class="bg-gray-500 text-white py-1 px-3 rounded hover:bg-gray-600">
                            Ver Orçamento
                        </button>
                        <button *ngSwitchCase="'REJEITADA'" (click)="resgatarServico()"
                            class="bg-blue-500 text-white py-1 px-3 rounded hover:bg-red-600">
                            Resgatar Serviço
                        </button>
                        <button *ngSwitchCase="'ARRUMADA'" (click)="pagarServico()"
                            class="bg-green-500 text-white py-1 px-3 rounded hover:bg-green-600">
                            Pagar Serviço
                        </button>
                    </ng-container>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="mt-4">
        <button (click)="abrirDrawer()"
            class="bg-green-500 hover:bg-green-600 text-white font-medium py-2 px-4 rounded-md shadow-md">
            Solicitar Manutenção
        </button>
    </div>

    <app-modal />
    <app-solicitacao-orcamento-modal 
        *ngIf="mostrarModal" 
        [solicitacao]="solicitacaoSelecionada"
        [precoOrcado]="solicitacaoSelecionada?.precoOrcado || 0" 
        (onAprovar)="aprovarServico()"
        (onRejeitar)="rejeitarServico()"
    />
</div>