<div class="p-4 space-y-4">
  <!-- Detalhes da Solicitação (Equipamento, Cliente, Data/Hora) -->
  <div class="space-y-2">
    <div>
      <label class="block text-sm font-medium text-gray-600">Equipamento</label>
      <p class="text-gray-800">{{ solicitacao?.descricaoEquipamento }}</p>
    </div>

    <div>
      <label class="block text-sm font-medium text-gray-600">Cliente</label>
      <p class="text-gray-800">{{ cliente.nome }}</p>
    </div>

    <div>
      <label class="block text-sm font-medium text-gray-600">Data e Hora da Solicitação</label>
      <p class="text-gray-800">{{ solicitacao?.dataHora | date: 'short' }}</p>
    </div>

    <div>
      <label class="block text-sm font-medium text-gray-600">Descrição do Defeito:</label>
      <p class="text-gray-800">{{ solicitacao?.descricaoDefeito }}</p>
    </div>

    <div>
      <label class="block text-sm font-medium text-gray-600">Serviço a ser realizado:</label>
      <p class="text-gray-800">{{ ultimoOrcamento?.descricao }}</p>    </div>
  </div>

  <!-- Abas para alternar entre Efetuar Manutenção e Redirecionar Manutenção -->
  <div class="flex border-b mb-4 mt-4">
    <button *ngIf="solicitacao?.estado !== 'REDIRECIONADA' || 
                  (solicitacao?.estado === 'REDIRECIONADA' && solicitacao?.idResponsavel === funcionarioLogado?.id)"
            (click)="abaSelecionada = 'manutencao'"
            [class.text-blue-600]="abaSelecionada === 'manutencao'"
            class="py-2 px-4 font-semibold text-gray-600 border-b-2"
            [class.border-blue-600]="abaSelecionada === 'manutencao'"
            [class.border-transparent]="abaSelecionada !== 'manutencao'">
      Realizar Manutenção
    </button>
    
    <button *ngIf="solicitacao?.estado !== 'REDIRECIONADA' || 
                  (solicitacao?.estado === 'REDIRECIONADA' && solicitacao?.idResponsavel !== funcionarioLogado?.id)"
            (click)="abaSelecionada = 'redirecionar'"
            [class.text-blue-600]="abaSelecionada === 'redirecionar'"
            class="py-2 px-4 font-semibold text-gray-600 border-b-2"
            [class.border-blue-600]="abaSelecionada === 'redirecionar'"
            [class.border-transparent]="abaSelecionada !== 'redirecionar'">
      Redirecionar Manutenção
    </button>
  </div>

  <!-- Conteúdo da aba "Realizar Manutenção" -->
  <div *ngIf="abaSelecionada === 'manutencao'">
    <div>
      <label class="block text-sm font-medium text-gray-600">Descrição da Manutenção</label>
      <textarea [(ngModel)]="descricaoManutencao" class="mt-1 block w-full px-3 py-2 border rounded-md" placeholder="Descreva a manutenção"></textarea>
    </div>

    <div class="my-6">
      <label class="block text-sm font-medium text-gray-600">Orientações para o Cliente</label>
      <textarea [(ngModel)]="orientacoesCliente" class="mt-1 block w-full px-3 py-2 border rounded-md" placeholder="Orientações ao cliente"></textarea>
    </div>

    <div class="flex justify-end gap-2.5 mt-6">
      <button (click)="confirmarManutencao()"
        class="bg-green-500 hover:bg-green-600 text-white py-2 px-4 rounded-md shadow-md">
        Confirmar Manutenção
      </button>
    </div>
  </div>

  <!-- Conteúdo da aba "Redirecionar Manutenção" -->
  <div *ngIf="abaSelecionada === 'redirecionar'">
    <div>
      <label class="block text-sm font-medium text-gray-600">Selecionar Funcionário</label>
      <select [(ngModel)]="funcionarioDestino" class="mt-1 block w-full px-3 py-2 border rounded-md">
        <option *ngFor="let funcionario of funcionarios" 
                [ngValue]="funcionario" 
                [disabled]="funcionario.id === funcionarioLogado?.id">
          {{ funcionario.nome }}
        </option>
      </select>
    </div>

    <div class="flex justify-end gap-2.5 mt-6">
      <button (click)="confirmarRedirecionamento()"
        class="bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded-md shadow-md"
        [disabled]="!funcionarioDestino || !funcionarioLogado || funcionarioDestino.id === funcionarioLogado.id">
        Confirmar Redirecionamento
      </button>
    </div>
  </div>
</div>
