<form [formGroup]="solicitacaoForm" (ngSubmit)="registrarSolicitacao()" class="p-1 space-y-4">
  <div>
    <label for="descricaoEquipamento" class="block text-sm font-medium text-gray-600">Descrição do Equipamento</label>
    <input id="descricaoEquipamento" formControlName="descricaoEquipamento" type="text" maxlength="30" placeholder="Digite a descrição do equipamento" 
           class="mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500">
    <div *ngIf="solicitacaoForm.get('descricaoEquipamento')?.invalid && solicitacaoForm.get('descricaoEquipamento')?.touched" 
         class="text-red-500 text-xs mt-1">
      Descrição é obrigatória.
    </div>
  </div>

  <div>
    <label for="categoriaEquipamento" class="block text-sm font-medium text-gray-600">Categoria do Equipamento</label>
    <select id="categoriaEquipamento" formControlName="categoriaEquipamento" 
            class="mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500">
      <option value="" disabled selected>Selecione uma categoria</option>
      <option *ngFor="let categoria of categorias" [value]="categoria.idCategoria">
        {{ categoria.nome }}
      </option>
    </select>
    <div *ngIf="solicitacaoForm.get('categoriaEquipamento')?.invalid && solicitacaoForm.get('categoriaEquipamento')?.touched" 
         class="text-red-500 text-xs mt-1">
      Categoria é obrigatória.
    </div>
  </div>

  <div>
    <label for="descricaoDefeito" class="block text-sm font-medium text-gray-600">Descrição do Defeito</label>
    <textarea id="descricaoDefeito" formControlName="descricaoDefeito" rows="3" placeholder="Descreva o defeito" 
              class="mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500"></textarea>
    <div *ngIf="solicitacaoForm.get('descricaoDefeito')?.invalid && solicitacaoForm.get('descricaoDefeito')?.touched" 
         class="text-red-500 text-xs mt-1">
      Descrição do defeito é obrigatória.
    </div>
  </div>

  <div class="flex justify-end">
    <button type="submit" 
            class="w-full bg-black hover:bg-slate-600 text-white py-2 px-4 rounded-md shadow-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50">
      Enviar
    </button>
  </div>
</form>