<div class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-50">
    <div class="bg-white p-6 rounded-lg w-full max-w-lg shadow-lg">
      <h2 class="text-2xl font-semibold mb-6 text-center text-gray-700">Detalhes da Solicitação</h2>
      
      <div *ngIf="solicitacao">
        <p class="text-sm font-medium text-gray-600">
          <strong>Equipamento:</strong> {{ solicitacao.descricaoEquipamento }}
        </p>
        <p class="text-sm font-medium text-gray-600 mt-2">
          <strong>Data e Hora:</strong> {{ solicitacao.dataHora | date:'short' }}
        </p>
        <p class="text-sm font-medium text-gray-600 mt-2">
          <strong>Estado Atual:</strong> {{ solicitacao.estado }}
        </p>
        
        <div class="my-6">
          <p class="text-lg font-semibold text-gray-800">
            <strong>Preço Orçado:</strong> 
            <span class="text-xl text-pink-600">{{ precoOrcado | currency:'BRL' }}</span>
          </p>
        </div>
  
        <div class="flex justify-between mt-4">
          <button (click)="aprovarServico()" class="bg-green-500 hover:bg-green-600 text-white font-semibold py-2 px-4 rounded-md shadow-md">
            Aprovar Serviço
          </button>
          <button (click)="rejeitarServico()" class="bg-red-500 hover:bg-red-600 text-white font-semibold py-2 px-4 rounded-md shadow-md">
            Rejeitar Serviço
          </button>
        </div>
      </div>
    </div>
  </div>
  